<% include ./head %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form action="#" id="notify_form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group label-floating is-empty">
                <label class="control-label"> Title </label>
                <input type="text" class="form-control" name="title" value="">
                <span class="material-input"></span></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating is-empty">
                  <ul class="list-inline select-cat select-cat2">
                    <li><input class="radio" name="user_type" type="radio" value="model"><label>Models</label></li>
                    <li><input class="radio" name="user_type" type="radio" value="business"><label>Businesses</label></li>
                    <li><input class="radio" name="user_type" type="radio" value="both"><label>Both</label></li>
                    <li><input class="radio" name="user_type" type="radio" value="business" id="specific_business"><label>Secific Business</label></li>
                    <li><input class="radio" name="user_type" type="radio" value="model" id="specific_model"><label>Secific Model</label></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row" id="specific_business_block" style="display:none">
              <div class="col-md-6">
                <div class="form-group label-floating is-empty">
                  <select class="form-control" name="specific_business_user" id="specific_business_user">
                    <option value="">Select Business</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row" id="specific_model_block" style="display:none">
              <div class="col-md-6">
                <div class="form-group label-floating is-empty">
                  <select class="form-control" name="specific_model_user" id="specific_model_user">
                    <option value="">Select Model</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Body</label>
                  <textarea rows="4" class="form-control" name="body" cols="50"></textarea>
                  <span class="material-input"></span></div>
                </div>
              </div>
              <button type="button" onclick="sendMessage();return false;" class="btn btn-primary pull-left">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% include ./footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" type="text/javascript"></script>
    <script>
    $(function(){
      $('#specific_business').on('click',function(){
        $('#specific_business_block').show();
        $('#specific_model_block').hide();
        $.ajax({
              type:'GET',
              url:'../../users',
              dataType:'json'
          }).done(function(data){
          var html = '<option value="">Select Business</option>';
          $.each(data, function( index, value ) {
            html = html+'<option value="'+value._id+'">'+value.first_name+'</option>';
          });
          $("#specific_business_user").html(html);
          }).fail(function(jqXHR,textStatus, err){
              console.log(textStatus);
          });
      });
      $('#specific_model').on('click',function(){
        $('#specific_model_block').show();
        $('#specific_business_block').hide();
         $.ajax({
              type:'GET',
              url:'../../models',
              dataType:'json'
          }).done(function(data){
          var html = '<option value="">Select Model</option>';
          $.each(data, function( index, value ) {
            html = html+'<option value="'+value._id+'">'+value.first_name+'</option>';
          });
          $("#specific_model_user").html(html);
          }).fail(function(jqXHR,textStatus, err){
              console.log(textStatus);
          });
      });
    });
    function sendMessage(){
      $.ajax({
        type:'POST',
        url:'../../admin/sendMessage',
        data: $('form#notify_form').serialize(),
        dataType:'json'
      }).done(function(data){
        console.log(data);
        if(data.success == 0){
          swal("Oops!", "User Token Not Registered In Database", "error");
        }else{
          swal("Sent!", "Notification Sent", "success");
        }
      }).fail(function(jqXHR,textStatus, err){
        console.log(textStatus);
      });
    }
    </script>
