<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img style="max-width: 182px" class="main-logo" src="assets/admin/img/logo/logo.png" alt="" /></a>
            <strong><img style="max-width: 50px;" src="assets/admin/img/logo/logosn.png" alt="" /></strong>
        </div>
        <div class="nalika-profile">
            <div class="profile-dtl">
                <i class="fas fa-user"></i>
                <h2>Sam <span class="min-dtn">Sedai</span></h2>
            </div>
            <div class="profile-social-dtl">
                <ul class="dtl-social">
                    <li><a href="#"><i class="icon nalika-facebook"></i></a></li>
                    <li><a href="#"><i class="icon nalika-twitter"></i></a></li>
                    <li><a href="#"><i class="icon nalika-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" href="index.html">
                               <i class="icon nalika-home icon-wrap"></i>
                               <span class="mini-click-non">Transactions</span>
                            </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a title="Dashboard v.1" href="upload-transactions.html"><span class="mini-sub-pro">Upload CSV</span></a></li>
                            <li><a title="Dashboard v.1" href="static-table.html"><span class="mini-sub-pro">Checking (0223)</span></a></li>
                            <li><a title="Dashboard v.2" href="static-table.html"><span class="mini-sub-pro">Checking (1888)</span></a></li>
                            <li><a title="Dashboard v.3" href="static-table.html"> <span class="mini-sub-pro">Checking (2220)</span></a></li>
                            <li><a title="Product List" href="static-table.html"><span class="mini-sub-pro">Credit card (0553)</span></a></li>
                            <li><a title="Product Edit" href="static-table.html"><span class="mini-sub-pro">Credit card (1231)</span></a></li>
                            <li><a title="Product Detail" href="static-table.html"><span class="mini-sub-pro">Credit card (0988)</span></a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-mail icon-wrap"></i> <span class="mini-click-non">Notifications</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Inbox" href="mailbox.html"><span class="mini-sub-pro">Inbox</span></a></li>
                            <li><a title="View Mail" href="mailbox-view.html"><span class="mini-sub-pro">View Mail</span></a></li>
                            <li><a title="Compose Mail" href="mailbox-compose.html"><span class="mini-sub-pro">Compose Mail</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="accounts.html" aria-expanded="false"><i class="icon nalika-diamond icon-wrap"></i> <span class="mini-click-non">Bank & Cash</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Google Map" href="accounts.html"><span class="mini-sub-pro">Add bank account</span></a></li>
                            <li><a title="Data Maps" href="accounts.html"><span class="mini-sub-pro">Add credit card</span></a></li>
                            <li><a title="Pdf Viewer" href="accounts.html"><span class="mini-sub-pro">Edit accounts</span></a></li>
                            <li><a title="X-Editable" href="accounts.html"><span class="mini-sub-pro">Finance accounts</span></a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-pie-chart icon-wrap"></i> <span class="mini-click-non">Reports</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="File Manager" href="reports.html"><span class="mini-sub-pro">2019 financial report</span></a></li>
                            <li><a title="Blog" href="reports.html"><span class="mini-sub-pro">Sales</span></a></li>
                            <li><a title="Blog Details" href="reports.html"><span class="mini-sub-pro">Expenses</span></a></li>
                            <li><a title="404 Page" href="reports.html"><span class="mini-sub-pro">Vendors transactions</span></a></li>
                            <li><a title="500 Page" href="reports.html"><span class="mini-sub-pro">2019 Predictions</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false"><i class="icon nalika-forms icon-wrap"></i> <span class="mini-click-non">ZenSights</span></a>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-bar-chart icon-wrap"></i> <span class="mini-click-non">Payroll</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Bar Charts" href="#"><span class="mini-sub-pro">Timesheet</span></a></li>
                            <li><a title="Line Charts" href="#"><span class="mini-sub-pro">Payment history</span></a></li>
                            <li><a title="Area Charts" href="#"><span class="mini-sub-pro">Upcoming payroll</span></a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-table icon-wrap"></i> <span class="mini-click-non">Bills</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Peity Charts" href="bills.html"><span class="mini-sub-pro">Pay bill</span></a></li>
                            <li><a title="Data Table" href="bills.html"><span class="mini-sub-pro">View bills</span></a></li>
                            <li><a title="Data Table" href="bills.html"><span class="mini-sub-pro">Payment history</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-forms icon-wrap"></i> <span class="mini-click-non">Invoices</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Basic Form Elements" href="#"><span class="mini-sub-pro">Invoice 1</span></a></li>
                            <li><a title="Advance Form Elements" href="#"><span class="mini-sub-pro">Invoice 1</span></a></li>
                            <li><a title="Password Meter" href="#"><span class="mini-sub-pro">Invoice 1</span></a></li>
                            <li><a title="Multi Upload" href="#"><span class="mini-sub-pro">Invoice 1</span></a></li>
                            <li><a title="Text Editor" href="#"><span class="mini-sub-pro">Invoice 1</span></a></li>
                            <li><a title="Dual List Box" href="#"><span class="mini-sub-pro">Invoice 1</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="tax-documents.html" aria-expanded="false"><i class="icon nalika-forms icon-wrap"></i> <span class="mini-click-non">Tax Documents</span></a>
                    </li>
                  
                </ul>
            </nav>
        </div>
    </nav>
</div>