<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="banner_content">
                        <h2>
                            Get Your
                            <div class="slidingVertical">
                                <span>Accounting</span>
                                <span>Taxes</span>
                                <span>Analytics</span>
                            </div>
                            <br>to the Zen state
                        </h2>
                        <p>
                            You didn't start a business to be an Accountant or an Analytics expert.
                            <br>You will have a dedicated resource 24/7 to help you with all the Financials and data.
                        </p>
                        <div class="d-flex align-items-center">
                            <a class="primary_btn" href="contact.html"><span>Free Trial</span></a>
                            <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?time_continue=2&v=J9YzcEe29d0">
                                <span></span>
                            </a>
                            <div class="watch_video text-uppercase">

                            </div>

                        </div>
                        <div>
                            A must have tool for Startups, Real Estate Investors <br>and small business owners looking to scale!
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="home_right_img">
                        <img class="img-fluid" src="/assets/front/img/banner/home-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->