<% include ./partials/head %>
<link href="../assets/css/chat.css" rel="stylesheet" />
      <!-- chat html -->
      <div class="content">
      <div class="container-fluid">
    <div class="row app-one">

      <div class="col-sm-4 side">
        <div class="side-one">
          <!-- SearchBox -->
          <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
              <div class="form-group has-feedback">
                <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>

          <!-- Search Box End -->
          <!-- sideBar -->
          <div class="row sideBar">
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="../assets/img/default.jpg">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">Sandeep Bangarh
                  </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sidebar End -->
      </div>

      <!-- Conversation Start -->
      <div class="col-sm-8 conversation">
        <!-- Heading -->
        <div class="row heading">
          <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
            <div class="heading-avatar-icon">
              <img src="../assets/img/default.jpg">
            </div>
          </div>
          <div class="col-sm-8 col-xs-7 heading-name">
            <a class="heading-name-meta">Sandeep Bangarh
            </a>
            <span class="heading-online">Online</span>
          </div>
          <div class="col-sm-1 col-xs-1  heading-dot pull-right">
            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
          </div>
        </div>
        <!-- Heading End -->

        <!-- Message Box -->
        <div class="row message" id="conversation">

          <div class="row message-previous">
            <div class="col-sm-12 previous">
              <a onclick="previous(this)" id="ankitjain28" name="20">
              Show Previous Message!
              </a>
            </div>
          </div>

          <div class="row message-body">
            <div class="col-sm-12 message-main-receiver">
              <div class="receiver">
                <div class="message-text">
                 Hyy, Its Awesome..!
                </div>
                <span class="message-time pull-right">
                  Sun
                </span>
              </div>
            </div>
          </div>

          <div class="row message-body">
            <div class="col-sm-12 message-main-sender">
              <div class="sender">
                <div class="message-text">
                  Thanks n I know its awesome...!
                </div>
                <span class="message-time pull-right">
                  Sun
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Message Box End -->

        <!-- Reply Box -->
        <div class="row reply">
          <input id="txtName" class="form-control" type="hidden" value="admin">
          <!-- <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile-o fa-2x"></i>
          </div> -->
          <div class="col-sm-9 col-xs-9 reply-main">
            <textarea class="form-control" rows="1" id="comment" placeholder="Type Message.."></textarea>
          </div>
          <div class="col-sm-1 col-xs-1 reply-recording">
            <!-- <i class="fa fa-microphone fa-2x" aria-hidden="true"></i> -->
          </div>
          <div class="col-sm-1 col-xs-1 reply-send">
            <i class="fa fa-send fa-2x" aria-hidden="true" id="send"></i>
          </div>
        </div>
        <!-- Reply Box End -->
      </div>
      <!-- Conversation End -->
    </div>
    <!-- App One End -->
  </div>
      <!-- End -->
</div>
<% include ./partials/footer %>
<!-- <% script.sanAppendScript('../socket.io/socket.io.js') %> -->
<script src="../socket.io/socket.io.js"></script>
<script>
var socket = io()
    $(document).ready(function() {
      getChats();
        $( "#send" ).on( "click", function() {
            var chatMessage = {
                name: $("#txtName").val(), chat: $("#comment").val()
            }
            socket.emit('save_message', chatMessage);
            // getChats();
            $("#comment").val('');
        })
        $(window).on('keydown', function(e) {
          if (e.which == 13) {
            var chatMessage = {
                name: $("#txtName").val(), chat: $("#comment").val()
            }
            if (!$("#comment").val()) {
              alert('Enter Message'); return false;
            }
            socket.emit('save_message', chatMessage);
            // getChats();
            $("#comment").val('');
            return false;
          }
        });
        $(".heading-compose").click(function() {
          $(".side-two").css({
            "left": "0"
          });
        });

        $(".newMessage-back").click(function() {
          $(".side-two").css({
            "left": "-100%"
          });
        });
        socket.on('save_message', function(chatObj){
          var user_type_class = 'receiver';
          if (chatObj.sender == 'admin') {
            user_type_class = 'sender';
          }
          var chat_msgs = '<div class="row message-body">'+
            '<div class="col-sm-12 message-main-sender"><div class="sender"><div class="message-text">'+chatObj.chat+'</div><span class="message-time pull-right"></span></div></div></div>';
          $("#conversation").append(chat_msgs);
        });
    })
    function getChats() {
         $.get("/admin/get_chats", function(chats){
             $("#conversation").empty();
             chats.forEach(appendChat)
         });
    }
function appendChat(chatObj){
    var user_type_class = 'receiver';
    if (chatObj.sender == 'admin') {
      user_type_class = 'sender';
    }
    var chat_msgs = '<div class="row message-body">'+
      '<div class="col-sm-12 message-main-'+user_type_class+'"><div class="'+user_type_class+'"><div class="message-text">'+chatObj.message+'</div><span class="message-time pull-right"></span></div></div></div>';
    $("#conversation").append(chat_msgs);
}

</script>
