<%+ extend('app') %>
<%+ section('custom_css') %>
<link rel="stylesheet" href="/assets/front/css/magnific-popup.css">
<link rel="stylesheet" href="/assets/front/vendors/flaticon/flaticon.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/assets/front/range/css/style.css">
<%+ endSection %>
<%+ section('content') %>
<!--================End Home Banner Area =================-->
    <div  class="row justify-content-center">
        <div class="col-lg-3 col-sm-3">

        </div>
        <div class="col-lg-5 col-sm-6" style="top: -30px;">
            <aside class="f_widget news_widget">
                <div id="mc_embed_signup">
                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                          method="get" class="subscribe_form relative">
                        <div class="input-group d-flex flex-row">
                            <input style="border: 1px solid;" name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '"
                                   required="" type="email">
                            <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                        </div>
                        <div class="mt-10 info" style="color: #fff"></div>
                    </form>
                </div>
                <div class="justify-content-center"><p style="text-align: center; padding-right: 60px">Just so we can send you our Zen-letters</p></div>
            </aside>
        </div>
        <div class="col-lg-3 col-sm-3">

        </div>
    </div>
    <!--================Start Features Area =================-->
    <!--================Start Features Area =================-->
    <section class="section_gap features_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="left_features">
                        <img class="img-fluid" src="/assets/front/img/f-img.png" alt="">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <!-- single features -->
                    <div class="single_feature">
                        <div class="feature_head">
                            <span class="lnr lnr-screen"></span>
                            <h4>AI powered real-time bookkeeping</h4>
                        </div>
                        <div class="feature_content">
                            <p>Our AI-powered software will process and careforize your transactions in blazing speed that Auto-Magically updates Quickbooks or Xero bookkeeping platforms.</p>
                        </div>
                    </div>
                    <!-- single features -->
                    <div class="single_feature">
                        <div class="feature_head">
                            <span class="lnr lnr-screen"></span>
                            <h4>Bundeled with human ZenRep</h4>
                        </div>
                        <div class="feature_content">
                            <p>You will have a knowledgeable, dedicated team and a ZenRep available. Heck, we'll even throw parties together (virtually for you! Sesly.)</p>
                        </div>
                    </div>
                    <!-- single features -->
                    <div class="single_feature">
                        <div class="feature_head">
                            <span class="lnr lnr-screen"></span>
                            <h4>Drive Insights</h4>
                        </div>
                        <div class="feature_content">
                            <p>We then use that data to drive powerful & game-changing insights for your business operations or properties</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Features Area =================-->

    <!--================Recent Update Area =================-->
    <section class="recent_update_area" id="recent_update_area">
        <div class="container">
            <div class="recent_update_inner">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            <span class="lnr lnr-screen"></span>
                            <h6>What we do?</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                         aria-selected="false">
                         <span class="lnr lnr-screen"></span>
                         <h6>Our Values</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                         aria-selected="false">
                         <span class="lnr lnr-screen"></span>
                         <h6>Why BooksZen?</h6>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row recent_update_text align-items-center">
                            <div class="col-lg-5">
                                <div class="common_style">
                                    <p class="line">What we do?</p>
                                    <h3>We Believe that <br /> accounting should be easy as 1, 2, 3</h3>
                                    <p>We'll be listening to all your whining and crying. We'll be listening to all your whining and crying.We'll be listening to all your whining and crying</p>
                                    <a class="primary_btn" href="#"><span>Learn More</span></a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="chart_img">
                                    <img class="img-fluid" src="/assets/front/img/chart.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row recent_update_text align-items-center">
                            <div class="col-lg-5">
                                <div class="common_style">
                                    <p class="line">Our Values</p>
                                    <h3>We Believe that <br />  accounting should be easy as 1, 2, 3</h3>
                                    <p>We'll be listening to all your whining and crying We'll be listening to all your whining and crying We'll be listening to all your whining and crying</p>
                                    <a class="primary_btn" href="#"><span>Learn More</span></a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="chart_img">
                                    <img class="img-fluid" src="/assets/front/img/chart.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row recent_update_text align-items-center">
                            <div class="col-lg-5">
                                <div class="common_style">
                                    <p class="line">Why BooksZen?</p>
                                    <h3>We Believe that <br />  accounting should be easy as 1, 2, 3</h3>
                                    <p>We'll be listening to all your whining and crying We'll be listening to all your whining and crying We'll be listening to all your whining and crying</p>
                                    <a class="primary_btn" href="#"><span>Learn More</span></a>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="chart_img">
                                    <img class="img-fluid" src="/assets/front/img/chart.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Recent Update Area =================-->


    <!--================Srart Pricing Area =================-->
    <section class="price_area section_gap" id="price_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="main_title">
                        <p class="top_title">We have plans to cover all your needs!</p>
                        <h2>Pricing</h2>
                    </div>
                </div>
            </div>
            <div class="price_inner row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="price_item">
                        <div class="price_head">
                            <h4>Zen-Vestors</h4>
                        </div>
                        <div class="price_body">
                            <ul class="list">
                                <li><a href="#">Ideal for Real-Estate</a></li>
                                <li><a href="#">Investors</a></li>
                                <li><a href="#">Add more details</a></li>
                            </ul>
                        </div>
                        <div class="price_footer" style="margin-top: 78px !important; ">
                            <!--<h3><span class="dlr"></span> </h3>-->
                            <a class="primary_btn" href="#"><span>Free Account</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="price_item">
                        <div class="price_head">
                            <h4>Zen-Core</h4>
                        </div>
                        <div class="price_body" style="padding-top: 25px !important; padding-bottom: 18px !important;">
                            <ul class="list">
                                <li style="padding: 10px"><a href="#">Ideal for Small business both starting our and growing.</a></li>
                                <div class="annual-price"></div>
                                <div class="range-holder">

                                    <div id="pr-slider" class="dragdealer">
                                        <div class="stripe">

                                            <div id="green-highlight"></div>
                                            <div id="orange-highlight"></div>
                                            <div id="blue-highlight"></div>

                                            <div class="handle">

                                                <div class="square">
                                                    <span class="value"></span>
                                                    <span class="menu-line"></span>
                                                    <span class="menu-line"></span>
                                                    <span class="menu-line"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </ul>
                            <div class="infobox">
                                <div class="innerbox">
                                    <div class="info-price"></div>
                                </div>
                            </div>
                        </div>
                        <div class="price_footer">
                            <a class="primary_btn" href="contact.html"><span>Free Trial</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="price_item">
                        <div class="price_head">
                            <h4>Zen-Scale</h4>
                        </div>
                        <div class="price_body">
                            <ul class="list">
                                <li><a href="#">Ideal for large businesses</a></li>
                                <li><a href="#">Starting at $999/mo</a></li>
                                <li><a href="#">Full virtual CFO Services</a></li>
                                <li><a href="#">Full virtual CAO Services</a></li>
                                <li><a href="#">The data at this state is so much fun to work with.</a></li>
                            </ul>
                        </div>
                        <div class="price_footer">
                            <a class="primary_btn" href="contact.html"><span>Free Consultation</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Pricing Area =================-->

    <!--================Start Big Features Area =================-->
    <section class="section_gap big_features">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="main_title">
                        <p class="top_title">Features Specifications</p>
                        <h2>Amazing Features That make it Awesome!</h2>
                    </div>
                </div>
            </div>
            <div class="row features_content">
                <div class="col-lg-4 offset-lg-1">
                    <div class="big_f_left">
                        <img class="img-fluid" src="/assets/front/img/f-img1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="common_style">
                        <h3>Every Plan Comes With</h3>
                        <ul class="unordered-list">
                            <li>Mobile ZenApp</li>
                            <li>Dedicated team at your fingertips</li>
                            <li>24/7 ZenRep via Chat ot Text</li>
                            <li>Access to our platform</li>
                            <li>ZenUniversity for business owners</li>
                        </ul>

                    </div>
                </div>
                <div class="border-line"></div>
                <img class="shape1"src="/assets/front/img/shape1.png" alt="">
                <img class="shape2"src="/assets/front/img/shape2.png" alt="">
                <img class="shape3"src="/assets/front/img/shape1.png" alt="">
            </div>

            <div class="row features_content bottom-features">
                <div class="col-lg-5">
                    <div class="common_style">
                        <h3>A La Carte add-ons</h3>
                        <ul class="unordered-list">
                            <li>Payroll</li>
                            <li>Bill pay</li>
                            <li>Invoice Management</li>
                            <li>Forecasting</li>
                            <li>TaxZen (Our other awesome platform)</li>
                            <li>Custom Analytics</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <div class="big_f_left">
                        <img class="img-fluid" src="/assets/front/img/f-img2.png" alt="">
                    </div>
                </div>
                <div class="border-line"></div>
                <img class="shape1"src="/assets/front/img/shape1.png" alt="">
                <img class="shape2"src="/assets/front/img/shape2.png" alt="">
                <img class="shape3"src="/assets/front/img/shape1.png" alt="">
            </div>
        </div>
    </section>
    <!--================End Big Features Area =================-->


    <!--================ Start Testimonial Area =================-->
    <div class="section_gap_top testimonial_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="main_title">
                        <p class="top_title">User Feedback</p>
                        <h2>What our clients say about getting to the "Zen" state?</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="active_testimonial owl-carousel" data-slider-id="1">
                        <!-- single testimonial -->
                        <div class="single_testimonial">
                            <div class="testimonial_head">
                                <img src="/assets/front/img/quote.png" alt="">
                                <h4>Fanny Spencer</h4>
                                <div class="review">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="testimonial_content">
                                <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her faceand She is the host to your journey.</p>
                            </div>
                        </div>

                        <div class="single_testimonial">
                            <div class="testimonial_head">
                                <img src="/assets/front/img/quote.png" alt="">
                                <h4>Fanny Spencer</h4>
                                <div class="review">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="testimonial_content">
                                <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her faceand She is the host to your journey.</p>
                            </div>
                        </div>

                        <div class="single_testimonial">
                            <div class="testimonial_head">
                                <img src="/assets/front/img/quote.png" alt="">
                                <h4>Fanny Spencer</h4>
                                <div class="review">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="testimonial_content">
                                <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her faceand She is the host to your journey.</p>
                            </div>
                        </div>

                        <div class="single_testimonial">
                            <div class="testimonial_head">
                                <img src="/assets/front/img/quote.png" alt="">
                                <h4>Fanny Spencer</h4>
                                <div class="review">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="testimonial_content">
                                <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her faceand She is the host to your journey.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================ End Testimonial Area =================-->

    <!--================ Srart Brand Area =================-->
    <section class="brand_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel brand-carousel">
                        <!-- single-brand -->
                        <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="/assets/front/img/brands/logo1.png" alt="">
                            </div>
                        </div>
                        <!-- single-brand -->
                        <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="/assets/front/img/brands/logo2.png" alt="">
                            </div>
                        </div>
                        <!-- single-brand -->
                        <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="/assets/front/img/brands/logo3.png" alt="">
                            </div>
                        </div>
                        <!-- single-brand -->
                        <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="/assets/front/img/brands/logo4.png" alt="">
                            </div>
                        </div>
                        <!-- single-brand -->
                        <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="/assets/front/img/brands/logo5.png" alt="">
                            </div>
                        </div>
                        <!-- single-brand -->
                        <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="/assets/front/img/brands/logo6.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Brand Area =================-->

    <!--================Impress Area =================-->
    <section class="impress_area">
        <div class="container">
            <div class="impress_inner">
                <h2>Got Impressed to our features?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <a class="primary_btn" href="contact.html"><span>Request Free Demo</span></a>
            </div>
        </div>
    </section>
    <!--================End Impress Area =================-->
    <%+ endSection %>
<%+ section('javascript') %>
<script src="/assets/front/js/jquery.magnific-popup.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="/assets/front/js/gmaps.min.js"></script>
<script  src="/assets/front/range/js/index.js"></script>
    <script type="text/javascript">
        $(".nav-link").on('click', function(event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){
                        window.location.hash = hash;
                    });
                }
            });
    </script>
<%+ endSection %>